div.intro {
 background-color: #FFFFFF;
 border-bottom: 5px solid #FFFFFF;
}
h2.wb2 {
    color: #87d30d;

}

@media (max-width: 768px) {
    .h2.wb2 {
        width:100%;
        float: none;
        text-align:center;
    }
}

div.izquierda {
    background-color: #87d30d;
    top: 912px;
    left: 0px;
    width: 32px;
    height: 384px;


}

